@using Nabil.Models
@model IEnumerable<Nabil.Models.Dish>

@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Menu</h2>

@if (!Model.Any())
{
    <p>Nie mamy jeszcze żadnych dań w naszej karcie</p>
}
else
{

    <center>
        <span class="przyciskiA">
            Dania
        </span>
        <br /><br />
        <div id="daniaA">
            @foreach (var dish in Model)
            {
                <div class="containerA">
                    <a href='@Url.Action("Details", "Dishes", new { id = dish.Id}, null)'>
                        <img src='@Url.Content("~/Content/Images/Dishes/"+ dish.ImgUrl)' height="200" class="danie_imgA" />
                    </a><div class="overlayA">
                        <div class="textA">@Html.ActionLink(dish.Name, "Details", "Dishes", new { id = dish.Id }, null)</div>
                    </div>
                    <br />
                </div>

            }


        </div><br /><br />
    </center>

}



@section scripts
{
    @Scripts.Render("~/bundles/jquery")

}