@using System.Configuration
@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>
<div class="kontakt_containerA">
    <div id="adresA">
        <h3>Falafel NABIL</h3>
        ul. Mariacka 26</br>
        <small>(wejście w bramie od ul. Francuskiej 6)</small></br>
        40-001 Katowice
        <br /><br /><br /><br /><br /><br />
        <center><img src='@Url.Content("~/Content/Images/facebook2.png")' id="facebook_bigA" /></center>
    </div>

    <div id="godzinyA">
        <h3>Godziny otwarcia</h3>
        pon. - wt.: 12:00 - 20:00</br>
        pt. - sob.: 12:00 - 22:00</br>
        niedz.: nieczynne
    </div>

    <div id="mapaA">
        <h3>Jak do nas trafić</h3>

        <script src=@("https://maps.googleapis.com/maps/api/js?v=3.exp&key=" +ConfigurationManager.AppSettings["GoogleMapApi"])></script>

        <div style='overflow:hidden;height:400px;width:520px;'>
            <div id='gmap_canvas' style='height:400px;width:520px;'>
            </div>
            <style>
                #gmap_canvas img {
                    max-width: none !important;
                    background: none !important
                }
            </style>
        </div>

        <a id="inv" href='http://maps-generator.com/pl'>
            maps-generator.com/pl
        </a>


        @section scripts
{
            @Scripts.Render("~/bundles/jquery")


            <script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=dc5c8f1b463a91249142cc7dc6c1c8894eaf9ce1'>
            </script>

            <script type='text/javascript'>
                function init_map() {
                    var myOptions =
                        {
                            zoom: 14,
                            center: new
                                google.maps.LatLng(50.2573999, 19.028640999999993),
                            mapTypeId: google.maps.MapTypeId.ROADMAP
                        };
                    map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);
                    marker = new google.maps.Marker({
                        map: map,
                        position: new google.maps.LatLng(50.257520770762994, 19.02868777513504)
                    });
                    infowindow = new google.maps.InfoWindow({
                        content: '<strong>Falafel Nabil</strong><br>Mariacka 26<br>40-001 Katowice Polska<br>'
                    });
                    google.maps.event.addListener(marker, 'click', function () {
                        infowindow.open(map, marker);
                    });
                    infowindow.open(map, marker);
                }
                google.maps.event.addDomListener(window, 'load', init_map);
            </script>
        }
    </div>
</div>